*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvica, serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240,248,240,0.75);
}
.boxS{
    width: 70%;
    height: 80vh;
    display: flex;
    box-shadow: 3px 3px 6px rgba(0,0,0.246,0.13);
}
.formS{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(200,224,212,0.27);
    padding: 3rem;
}
.formSS{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.textS h3{
    color: rgba(146,155,158,1);
}
.formSS h3::after{
    content: '';
    display: block;
    width: 6rem;
    height: 0.25rem;
    background-image: linear-gradient(to right, #CAE4C7, #CDDDC0, #CAD7C7);
    margin: 0 auto;
    position: absolute;
    border-radius: 15px;
}
.inputDivGroupS{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.inputsS{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}
.inputsS img{
    width: 50%;
    margin-bottom: 2px;
}
.inputsS h5{
    font-size: 15px;
    color: rgba(116,127,116,0.80);
    padding: 2px;
}
.inputsS a{
    text-decoration: none;
    color: rgba(116,127,116,0.90);
}
.inputsS button{
    border: none;
    width: 10rem;
    background-color: rgba(205,221,202,0.65);
    box-shadow: 1px 1px 1px rgba(0,0,0.1,0.15);
    padding: 0.20rem 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-family: Helvica, serif;
    font-size: 12px;
}
.inputsS button:hover{
    background-image: linear-gradient(to right, #C3D7B0, #CDDDCA,#C3D7B0);
}
@media screen and (max-width: 1330px){
    .boxS{ width: 50%;}
    .formS{ width: 100%;}
}
@media screen and (max-width: 1064px){
    .boxS{
        width: 74%;
        height: auto;
    }
    .inputDivGroupS {
        flex-direction: column;
        overflow-y: hidden;
        flex-wrap: nowrap;
        max-height: 12rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
}