*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvica, serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(246,246,246,0.33);
}
.FundoS{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.boxS{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 3px 3px 6px rgba(0,0,0.246,0.13);
}
.imgS{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(200,224,212,0.30);
}
.imgS img{
    width: 26rem;
}
.formS{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(200,224,212,0.12);
    padding: 3rem;
}
.formSS{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.textS h3{
    color: rgba(146,155,158,1);
}
.formSS h3::after{
    content: '';
    display: block;
    width: 11rem;
    height: 0.25rem;
    background-image: linear-gradient(to right, #CAE4C9, #CDDDCA, #CAD7C9);
    margin: 0 auto;
    position: absolute;
    border-radius: 15px;
}
.inputDivGroupS{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.inputsS{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}
.inputsS a{
    text-decoration: none;
    color: rgba(116,127,116,0.90);
}
.inputsS button{
    border: none;
    width: 13rem;
    background-color: rgba(205,221,202,0.65);
    box-shadow: 1px 1px 1px rgba(0,0,0.1,0.15);
    padding: 0.35rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    font-family: Helvica, serif;
    font-size: 15px;

}
.inputsS button:hover{
    background-image: linear-gradient(to right, #C3D7B0, #CDDDCA,#C3D7B0);
}
@media screen and (max-width: 1330px){
    .imgS{ display: none;}
    .boxS{ width: 50%;}
    .formS{ width: 100%;}
}
@media screen and (max-width: 1064px){
    .boxS{
        width: 70%;
        height: auto;
    }
    .inputDivGroupS{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
    .FundoS{ display: none;}
    body{background-color: rgba(240,248,240,0.85);}
}